<nav class="navbar navbar-expand-lg navbar-light bg-light p-3" style="height: 50px;">
  <div class="container-fluid">
    <a class="navbar-brand"  routerLink = "">Angular Forms</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav nav-pills">
        <!-- <li class="nav-item">
          <a class="nav-link " aria-current="page" routerLinkActive="active" routerLink="/templateForm"> Form - template Driven</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/dataForm">Form - Data Driven</a>
        </li> -->
        <div class="nav-item dropdown">
          <a class="btn dropdown-toggle text-decoration-none" [class.btn-primary]="rotaAtiva1.isActive||rotaAtiva2.isActive" routerLinkActive="active" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            Form - Template Driven
          </a>

          <!-- <hr class="hr-dropdown" *ngIf="rotaAtiva1.isActive||rotaAtiva2.isActive"> -->

          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="nav-link " aria-current="page" routerLinkActive="active" #rotaAtiva2 = "routerLinkActive" routerLink="/templateForm/template1"> Template 1</a></li>
            <li><a class="nav-link " aria-current="page" routerLinkActive="active" #rotaAtiva1 = "routerLinkActive" routerLink="/templateForm/template2"> Template 2</a></li>
          </ul>
        </div>
        <div class="nav-item dropdown">
          <a class="btn dropdown-toggle" [class.btn-primary]="rotaAtiva3.isActive" routerLinkActive="active" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            Form - Data Driven
          </a>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="nav-link"  aria-current="page" routerLinkActive="active" #rotaAtiva3 = "routerLinkActive" routerLink="/dataForm">Form - Data Driven</a></li>
          </ul>
        </div>
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-5">
  <router-outlet></router-outlet>
</div>
