<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-md-3">
      <label for="nome" class="form-label">Nome</label>
      <input type="text" class="form-control" [ngClass]="aplicarCssErro('nome')" id="nome" placeholder="Nome" formControlName="nome">

      <app-error-invalid-feedback [mostrarErro]="verificarErroCampoObrigatorio('nome')" mensagem="Nome é um campo obrigatório."></app-error-invalid-feedback>
      <app-error-invalid-feedback [mostrarErro]="verificarErroMinLength('nome')" mensagem="Nome deve ter 3 ou mais caracter"></app-error-invalid-feedback>
      <app-error-invalid-feedback [mostrarErro]="verificarErroMaxLength('nome')" mensagem="Nome deve ter 20 ou menos caracter"></app-error-invalid-feedback>
    </div>

    <div class="col-md-5">
      <label for="sobrenome" class="form-label">Sobrenome</label>
      <input type="text" class="form-control" [ngClass]="aplicarCssErro('sobrenome')" id="sobrenome" placeholder="Sobrenome" formControlName="sobrenome" >

      <app-error-invalid-feedback [mostrarErro]="verificarErroCampoObrigatorio('sobrenome')" mensagem="Sobrenome é um campo obrigatório."></app-error-invalid-feedback>
      <app-error-invalid-feedback [mostrarErro]="verificarErroMinLength('sobrenome')" mensagem="Sobrenome deve ter 3 ou mais caracter"></app-error-invalid-feedback>
      <app-error-invalid-feedback [mostrarErro]="verificarErroMaxLength('sobrenome')" mensagem="Sobrenome deve ter 40 ou menos caracter"></app-error-invalid-feedback>
    </div>

    <div class="col-md-2">
      <label for="dt_nasc" class="form-label">Data de Nascimento</label>
      <input type="date" class="form-control" [ngClass]="aplicarCssErro('data_nascimento')" id="dt_nasc" formControlName="data_nascimento" >
      <app-error-invalid-feedback [mostrarErro]="verificarErroCampoObrigatorio('data_nascimento')" mensagem="Data de nascimento é um campo obrigatório."></app-error-invalid-feedback>
    </div>
    <div class="col-md-2">
      <label for="cargo" class="form-label">Cargo</label>
      <select class="form-select" [ngClass]="aplicarCssErro('cargo')" id="cargo" formControlName="cargo" [compareWith]="compararCargos">
          <option selected disabled value="">Escolha um cargo...</option>
          <option *ngFor="let cargo of cargos | async" [ngValue]="cargo" >{{cargo.desc}}</option> <!-- NgValue -> utilizar objetos-->
      </select>
      <app-error-invalid-feedback [mostrarErro]="verificarErroCampoObrigatorio('endereco.cargo')" mensagem="Cargo é um campo obrigatório."></app-error-invalid-feedback>
    </div>
  </div>

  <div class="mt-4 row">
    <div class="col-md-8">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control w-100" [ngClass]="aplicarCssErro('email')" id="email" placeholder="usuario@email.com" formControlName="email">
      <app-error-invalid-tooltip class="w-100"  [mostrarErro]="verificarErroCampoObrigatorio('email')" mensagem="Email é um campo obrigatório."></app-error-invalid-tooltip>
      <app-error-invalid-tooltip class="w-100"  [mostrarErro]="formulario.get('email')?.status ==='PENDING'" mensagem="Validando email ...."></app-error-invalid-tooltip>
      <app-form-valid-tooltip class="w-100"  [mostrarSucesso]="formulario.get('email')?.status ==='VALID'" mensagem="Email valido ..."></app-form-valid-tooltip>
      <app-error-invalid-tooltip class="w-100"  [mostrarErro]="formulario.get('email')?.status ==='INVALID'" mensagem="Email invalido ..."></app-error-invalid-tooltip>
      <app-error-invalid-tooltip class="w-100"  [mostrarErro]="formulario.get('email')?.hasError('emailJaCadastrado') || false" mensagem="Email ja cadastrado ..."></app-error-invalid-tooltip>
    </div>
    <div class="col-md-4">
      <label for="tecnologias" class="form-label">Tecnologias</label>
      <select multiple class="form-select" [ngClass]="aplicarCssErro('tecnologias')" id="tecnologias" formControlName="tecnologias">
          <option selected disabled value="">Escolha uma tecnologias...</option>
          <option *ngFor="let tecnologia of tecnologias | async" [value]="tecnologia.nome" >{{tecnologia.desc}}</option> <!-- NgValue -> utilizar objetos-->
      </select>
      <app-error-invalid-feedback [mostrarErro]="verificarErroCampoObrigatorio('endereco.tecnologias')" mensagem="Tecnologia é um campo obrigatório."></app-error-invalid-feedback>
    </div>
    <div class="col-md-8">
      <label for="confirmarEmail" class="form-label">Confirmar email</label>
      <input type="confirmarEmail" class="form-control w-100" [ngClass]="aplicarCssErro('confirmarEmail')" id="confirmarEmail" placeholder="usuario@email.com" formControlName="confirmarEmail">
      <app-error-invalid-tooltip class="w-100"  [mostrarErro]="formulario.get('confirmarEmail')?.hasError('equalsTo')||false" mensagem="Emails não iguais."></app-error-invalid-tooltip>
    </div>
  </div>

  <div formGroupName="endereco">
    <div class="row mt-4">

      <div class="col-md-3">
        <label for="cep" class="form-label">CEP</label>
        <input type="text" class="form-control" [ngClass]="aplicarCssErro('endereco.cep')" id="cep" formControlName="cep"  (blur)="consultarCEP()">
        <app-error-invalid-feedback [mostrarErro]="verificarErroCampoObrigatorio('endereco.cep')" mensagem="CEP é um campo obrigatório."></app-error-invalid-feedback>
        <app-error-invalid-feedback [mostrarErro]="formulario.get('endereco.cep')?.hasError('cepInvalido')||false" mensagem="CEP Invalido"></app-error-invalid-feedback>
        <!-- <app-error-invalid-tooltip class="w-100"  [mostrarErro]="verificarErroCampoObrigatorio('cep')" mensagem="Email é um campo obrigatório."></app-error-invalid-tooltip> -->

      </div>

      <div class="col-md-3">
        <label for="estado" class="form-label">Estado</label>
        <select class="form-select" [ngClass]="aplicarCssErro('endereco.estado')" id="estado" formControlName="estado">
          <option selected disabled value="">Escolha um estado...</option>
          <option *ngFor="let estado of estados | async" [value]="estado.sigla" >{{estado.nome}}</option> <!-- value -> string e valores simples-->
        </select>
        <app-error-invalid-feedback [mostrarErro]="verificarErroCampoObrigatorio('endereco.estado')" mensagem="Estado é um campo obrigatório."></app-error-invalid-feedback>
      </div>

      <div class="col-md-4">
        <label for="cidade" class="form-label">Cidade</label>
        <input type="text" class="form-control" [ngClass]="aplicarCssErro('endereco.cidade')" id="cidade" placeholder="Cidade" formControlName="cidade">
        <app-error-invalid-feedback [mostrarErro]="verificarErroCampoObrigatorio('endereco.cidade')" mensagem="Cidade é um campo obrigatório."></app-error-invalid-feedback>
      </div>

      <div class="col-md-2" >
        <label for="numero" class="form-label">Número</label>
        <input type="text" class="form-control" [ngClass]="aplicarCssErro('endereco.numero')" id="numero" placeholder="Número" formControlName="numero">
        <app-error-invalid-tooltip class="w-100"  [mostrarErro]="verificarErroCampoObrigatorio('endereco.numero')" mensagem="Numero é um campo obrigatório."></app-error-invalid-tooltip>
      </div>

    </div>

    <div class="row mt-4">
      <div class="col-md-5">
        <label for="rua" class="form-label">Rua</label>
        <input type="text" class="form-control"  [ngClass]="aplicarCssErro('endereco.rua')" id="rua" placeholder="Rua" formControlName="rua">
        <app-error-invalid-feedback [mostrarErro]="verificarErroCampoObrigatorio('endereco.rua')" mensagem="Rua é um campo obrigatório."></app-error-invalid-feedback>
      </div>
      <div class="col-md-3">
        <label for="bairro" class="form-label">Bairro</label>
        <input type="text" class="form-control" [ngClass]="aplicarCssErro('endereco.bairro')" id="bairro" placeholder="bairro" formControlName="bairro">
        <app-error-invalid-feedback [mostrarErro]="verificarErroCampoObrigatorio('endereco.bairro')" mensagem="Bairro é um campo obrigatório."></app-error-invalid-feedback>
      </div>
      <div class="col-md-4">
        <label for="complemento" class="form-label">Complemento</label>
        <input type="text" class="form-control" id="complemento" placeholder="Complemento" formControlName="complemento">
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-3">
      <label for="newslatter" class="form-label">Newslatter</label>
      <div id="newslatter">
        <div class="form-check form-check-inline" *ngFor="let item of newLatterOp | async">
          <input class="form-check-input" type="radio" name="newslatter" id="inlineRadio1" [value]="item.valor" formControlName="newslatter">
          <label class="form-check-label" for="inlineRadio1">{{item.desc}}</label>
        </div>
      </div>
    </div>
  </div>


  <div class="row mt-4">
    <div class="col-md-6">
      <label for="frameworks">Frameworks</label>
      <div id="frameworks" class="row mt-2">
        <div class="form-check form-check-inline col-sm-3" formArrayName="frameworks" *ngFor="let item of getFrameworks().controls; let i = index">
          <input class="form-check-input" type="checkbox" [id]="i" [formControlName] = "i">
          <label class="form-check-label" [for]="i">{{frameworks[i]}}</label>
        </div>
      </div>
      <app-error-invalid-feedback [mostrarErro]="verificarValidAndTouchedOrDirty('frameworks')" mensagem="Por favor, escolha pelo menos 1 framework."></app-error-invalid-feedback>
    </div>

    <div class="col-md-3">
      <div class="form-check form-check-inline">
        <input class="form-check-input" [ngClass]="aplicarCssErro('termos')" type="checkbox" id="termos" value="option1" formControlName="termos">
        <label class="form-check-label" for="termos">Aceito os termos.</label>
        <app-error-invalid-feedback [mostrarErro]="verificarValidAndTouchedOrDirty('termos')" mensagem="Por favor, aceite os termos."></app-error-invalid-feedback>
      </div>
    </div>
  </div>


  <div class="row mt-5">
    <div class="col-12 mt-3">
      <!-- Só é interessante disabilitar caso tenhamos poucos campos e seja intuitivo a necessidade de preencher todos os campos -->
      <!-- <button class="btn btn-primary" type="submit" [disabled]="formulario.invalid">Submit form</button> -->
      <button class="btn btn-primary" type="submit">Submit form</button>
      <button class=" ms-3 btn btn-secondary" type="button" (click)="resetar()">Cancelar</button>
      <button class=" ms-3 btn btn-danger" (click)="setarCargo()">Setar cargo</button>
      <button class=" ms-3 btn btn-dark" (click)="setarTecnologia()">Setar Tecnologia</button>
      <button class=" ms-3 btn btn-success"  (click)="getFrameworksControls()">Get Frameworks</button>
      <app-form-debug [form] = "formulario"></app-form-debug>
    </div>
  </div>

</form>
